{% extends "base.html" %}
{% load flashcard_extras %}
{% load staticfiles %}

{% block header %}
<style>
#www-vocab-solution{
    display: inline-block;
    position: relative;
    font-size: 16px; font-size: 2vw;
}
#www-answer-table {
    text-align: center;
    padding: 0.5em;
}
#www-answer-table th{
    padding: 0.5em;
    background-color: #bbb;
}
#www-answer-table .odd{
    background-color: #eee;
}
#www-answer-table .even{
    background-color: #ddd;
}
#www-vocab-question{
    display: inline-block;
    position: relative;
    font-size: 16px; font-size: 6vw;
}
#www-answer-text{
    font-size: 3vw;
}

/* Override here for this page*/

.site-footer {
    position: relative;
    height: 10px;
    margin-top: -10px;
    clear: both;
}

</style>
{% endblock %}

{% block topleft %}
    <a href="{% url 'add_word_HTML' %}" data-ajax="false" class="www-wrap-anchor ui-btn ui-icon ui-btn-inline ui-corner-all blue">Add more words</a>
{% endblock %}
{% block topright %}
    <span style="float:right">
        <a href="{% url 'quiz_HTML_base' %}" data-ajax="false" class="www-wrap-anchor ui-btn ui-icon ui-btn-inline ui-corner-all blue">Another quiz?</a>
    </span>
{% endblock %}

{% block content %}
    <div id="www-vocab-question">
        <span id="www-answer-text"><i>Your score</i>:</span> {{quiz.the_score}}<br>
    </div>

    <div id="www-vocab-solution">
        <table id="www-answer-table">
            <th>Right/wrong?</th>
            <th>Word in the quiz</th>
            <th>Correct answer</th>

            </th>
            {% for word in answers %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td> {% if correct|index:forloop.counter0 == 1 %}<img width="25px" src="{% static "vocab/Crystal_Clear_action_apply.png" %}" alt="Right"/>
                         {% else %}<img width="25px" src="{% static "vocab/Crystal_Clear_action_button_cancel.png" %}" alt="Wrong"/>{% endif %}</td>
                    <td> {{ word.part1}}</td>
                    <td> {{ word.part2}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <hr>
    <b>Some hints:</b>
    <ul>
    <li><p style="padding-bottom: 0.2em">Double click on any word (only during a quiz) and it will automatically define it for you at http://www.woorden.org/
    <li><p style="padding-bottom: 0.2em">The well-established <a href = "https://en.wikipedia.org/wiki/Testing_effect" target="_blank">testing effect</a> shows when you are tested you are more likely to remember things.
    <li><p style="padding-bottom: 0.2em">The <a href = "http://rer.sagepub.com/content/61/2/213.short" target="_blank">feedback effect</a>, that shows your learning is boosted by being provided with feedback at the right time.
    <li><p style="padding-bottom: 0.2em">And finally, the <a href = "https://en.wikipedia.org/wiki/Spacing_effect" target="_blank">spacing effect</a>, that means you should have gaps in your learning (don't learn everything in one go).
{% endblock %}

