{% extends "base.html" %}
{% load flashcard_extras %}
{% load staticfiles %}

{% block header %}
<style>
#www-vocab-solution{
    display: inline-block;
    position: relative;
    font-size: 16px; font-size: 2vw;
}
#www-answer-table {
    text-align: center;
    padding: 0.5em;
}
#www-answer-table th{
    padding: 0.5em;
    background-color: #bbb;
}
#www-answer-table .odd{
    background-color: #eee;
}
#www-answer-table .even{
    background-color: #ddd;
}
</style>
{% endblock %}

{% block topleft %}<a href="{% url 'add_word_HTML' %}">Add more words</a>{% endblock %}
{% block topright %}<a href="{% url 'quiz_HTML_base' %}">Start another quiz</a>{% endblock %}


{% block content %}
<div class="vocab-test">
    <div id="vocab-question">
        <span id="answer-text"><i>Your score</i>:</span> {{quiz.the_score}}
    </div>
    <div style="clear: both;"></div>
    <div id="www-vocab-solution">
        <table id="www-answer-table">
            <th>Word in the quiz</th>
            <th>Correct answer</th>
            <th>Right/wrong?</th>
            </th>
            {% for word in answers %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td> {{ word.part1}}</td>
                    <td> {{ word.part2}}</td>
                    <td> {% if correct|index:forloop.counter0 == 1 %}<img width="25px" src="{% static "vocab/Crystal_Clear_action_apply.png" %}" alt="Right"/>
                         {% else %}<img width="25px" src="{% static "vocab/Crystal_Clear_action_button_cancel.png" %}" alt="Wrong"/>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div> {#vocab-test#}


{% endblock %}

