{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
{% endblock %}

{% block topright %}
<a href="{% url 'quiz_HTML' hashvalue=quiz.quiz_hash action=4 %}">See your results</a>
{% endblock %}


{% block content %}

<div class="vocab-test">
    <div id="vocab-question">
        {% if show_answer and word_item.part2 %}
            <span id="answer-text"><i>Answer</i>:</span> {{word_item.part2}}
        {% else %}
            {{word_item.part1}}
        {% endif %}
    </div>

    <div style="clear: both;"></div>
    <div class="rsm-header-left" style="max-width: 100px;">
        {% if quiz.currentitem > 0 and not show_answer %}
         <input type="button" value="Prior" onClick="javascript:location.href = '{% url 'quiz_HTML' hashvalue=quiz.quiz_hash action=1 %}';" />  {% if quiz.words_asked < 2 %}{% endif %}
        {% endif %}
    </div>

    <div class="rsm-header-right" style="max-width: 100px;">
        {% if not show_answer %}
        <input type="button" value="Next" onClick="javascript:location.href = '{% url 'quiz_HTML' hashvalue=quiz.quiz_hash action=2 %}';" /> {% if quiz.words_asked < 2 %}{% endif %}
        {% endif %}
    </div>


</div>
<div style="clear: both;"></div>
<div class="vocab-test-row2">
    <div class="rsm-header-left">
        <span style="font-style: italic; color: darkgreen;">
        {% if quiz.n_words_asked == 1 %}If you can make a sentence with the word, or if you know what it means, then click Next.
        If you don't know the word, click on "Show answer".{% endif %}
        </span>
    </div>
    <div class="rsm-header-right" style="max-width: 100px;">
    {{quiz.the_score}}
    </div>
    <div id="vocab-answer-resume">
        {% if show_answer %}
            <input type="button" value="Resume quiz" onClick="javascript:location.href = '{% url 'quiz_HTML' hashvalue=quiz.quiz_hash action=5 %}';" />
        {% else %}
            <input type="button" value="Show answer" onClick="javascript:location.href = '{% url 'quiz_HTML' hashvalue=quiz.quiz_hash action=3 %}';" /> (deducts a point)
        {% endif %}
    </div>
</div>


<div class="vocab-test-row3">
    <div class="rsm-header-left" >
    History: {{quizwordhistory.counts_wrong}} <img width="20px" src="{% static "vocab/Crystal_Clear_action_button_cancel.png" %}" alt="Wrong"/> and
                 {{quizwordhistory.counts_right}} <img width="20px" src="{% static "vocab/Crystal_Clear_action_apply.png" %}" alt="Right"/> (aim for at least 3 correct per quiz, and 3 more correct afterwards)
    </div>
</div>


{% endblock %}

