{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<style>
#www-answer-text{
    font-size: 3vw;
}
#www-vocab-question-answer{
    position: relative;
    font-size: 16px; font-size: 6vw;
    text-align: center;
}
.www-vertaaling{
    color: darkgreen;
}

.sparkline {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}
.dot {
  stroke-width: 1.5px;
}
</style>

<script type="text/javascript">
function ggetSelection() {var txt = '';if (window.getSelection) {txt = window.getSelection();} else if (document.getSelection) {txt = document.getSelection();} else if (document.selection) {txt = document.selection.createRange().text;}return txt;}$(document).dblclick(function(e) {var t = ggetSelection();if (t) document.location='http://www.woorden.org/woord/'+encodeURIComponent(t);});

var hider = function() {
    if ($(this).width() < 800) {
        $('.www-advice').hide();}
    else {
        $('.www-advice').show();
    }
};
$(window).resize(hider);
$(document).ready(hider);
</script>
{% endblock %}

{% block topleft %}
{% endblock %}


{% block topright %}
    <a class="www-wrap-anchor" data-ajax="false" href="{% url 'quiz_HTML' hashvalue=quiz.quiz_hash action=4 %}">End test</a>
{% endblock %}


{% block content %}
    <div id="www-vocab-question-answer">
        {% if show_answer and worditem.part2 %}
            <span id="www-answer-text"><i>Answer</i>:</span> {{worditem.part2|safe}}
        {% else %}
            {{worditem.part1|safe}}
        {% endif %}
    </div>
{% endblock %}

{% block mainleft %}
    {% if quiz.currentitem > 0 and not show_answer %}
    <input type="button" value="&larr;" onClick="javascript:location.href = '{% url 'quiz_HTML' hashvalue=quiz.quiz_hash action=1 %}';" />
    <span style="font-style: italic; color: darkgreen;" class="www-advice">
    {% if quiz.n_words_asked == 2 %}You can always go backwards and see prior words.{% endif %}
    </span>
    {% endif %}



{% endblock %}

{% block mainright %}
    {% if not show_answer %}
    <input type="button" value="&rarr;" onClick="javascript:location.href = '{% url 'quiz_HTML' hashvalue=quiz.quiz_hash action=2 %}';" />
    {% endif %}
    <span style="font-style: italic; color: darkgreen;" class="www-advice">
    {% if quiz.n_words_asked <= 2 %}Do you know what the word means? Can you make a sentence with it? If yes, then click here.{% endif %}
    </span>
{% endblock %}

{% block footerleft %}
    <span>History:</span><br>
    <span>{{worditem.counts_wrong}} <img width="20px" src="{% static "vocab/Crystal_Clear_action_button_cancel.png" %}" alt="Wrong"/></span> <br>
    <span>{{worditem.counts_right}} <img width="20px" src="{% static "vocab/Crystal_Clear_action_apply.png" %}" alt="Right"/> </span>
<div id="chart">

<script type="text/javascript">
var N = 15; // <--- data extent

var width = Math.min(200, screen.width * 0.30);
var height = width/4.0;
var x = d3.scale.linear().range([0, width]);
var y = d3.scale.linear().range([height, 0]);
var xscale = d3.scale.linear().domain([-0.55, N+0.25]).range([0, width]);
var yscale = d3.scale.linear().domain([1.25, -0.25]).range([0, height]);

// create a line object that represents the line we're creating
var line = d3.svg.line()
    .interpolate("step-before")
    .x(function(d, i) {
        return xscale(i); })
    .y(function(d) {
        return yscale(d.y); })

var data = [{{worditem.svgcode|safe}}];

var svg = d3.select("#chart").append("svg")
    .attr("width", width)
    .attr("height", height);

svg.append("path")
    .attr('class', 'sparkline')
    .attr("d", line(data));

svg.selectAll(".dot")
    .data(data)
    .enter()
    .append("circle")
    .attr("class", "dot")
    .attr("cx", line.x())
    .attr("cy", line.y())
    .attr("r", 3.5)
    .style("fill", function(d) { return d.color; });

</script>
</div>


{% endblock %}

{% block footermiddle %}
    {% if show_answer %}
        <input type="button" value="Resume" onClick="javascript:location.href = '{% url 'quiz_HTML' hashvalue=quiz.quiz_hash action=5 %}';" />
    {% else %}
        <input type="button" value="Answer" onClick="javascript:location.href = '{% url 'quiz_HTML' hashvalue=quiz.quiz_hash action=3 %}';" />
        {% if quiz.n_words_asked <= 2 %}
        <span style="font-style: italic; color: darkgreen;" class="www-advice">If you don't know the word, click here to see the answer.</span>{% endif %}

    {% endif %}
{% endblock %}

{% block footerright %}
    {% if quiz.n_words_asked > 1 %}
       This test:<br>{{quiz.the_score}}
    {% endif %}
{% endblock %}
